# Example test config for booking-app

spring.datasource.url=jdbc:tc:postgresql:///booking_testing_db
spring.datasource.driver-class-name=org.testcontainers.jdbc.ContainerDatabaseDriver
spring.datasource.username=test_user
spring.datasource.password=test_password

server.servlet.context-path=/booking

jwt.expiration=300000
jwt.secret=test_jwt_secret

bot.name=test_bot_name
bot.token=test_bot_token

site.url=https://test.com

stripe.apikey=test_stripe_key
stripe.webhook.secret=test_webhook

spring.docker.compose.enabled=false
